.item {
    /* color: rgb(201, 238, 145); */
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.img__wrapper{
    display: inline-block;
    overflow: hidden;
    width: 70px;
    max-height: 70px;
    border-radius: 40px;
    text-align: center;
    margin-right: 10px;
}

.img__wrapper img{
    top: 0;
    width: 70px;
    display: table-cell;
    /* vertical-align: middle; */
}
.text{
    margin-right: 10px;
}

.like{
    color: hotpink;
    padding: 5px 10px;
    border: 1px solid hotpink;
    border-radius: 5px;
}