/* html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 1300px;
} */

a{
  outline: none;
  display: inline;
  text-decoration: none;
  color: #3f4548;
  transition: .2s;
  cursor: pointer;
}
a:hover{
  color: #40b3da;
}

.app-wrapper{
  flex-flow: row nowrap;
  width: 100%;
  position: relative;
  /* display: block; */
  /* z-index: 2; */
  margin: 0 auto;
  max-width: 1180px;
  /* display: block; */
}

.main{
  margin-top: 90px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1180px;
}
.app-wrapper-content{
  /* position: relative; */
/* width: 100%; */
  /* min-height: 500px; */
  max-width: 880px;
}